.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
}
.flex-item {
  width: 200px;
  height: 150px;
  background: tomato;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  line-height: 150px;
}
